footer {
  background-color: #202020;
  color: #ebebeb;
  margin-top: 3rem;
  padding: 1rem 0 1.5rem;
}

.footer img{
  width:30px;
  height:30px;
}
.footer p{
  display: flex;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}