footer {
  background-color: #202020;
  color: #ebebeb;
  margin-top: 3rem;
  padding: 1rem 0 1.5rem;
}

.footer img{
  width:70px;
  height:30px;
}
.footer p{
  display: flex;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* footer .footer div>div{
  display: flex;
  justify-content: space-between;
} */

/* footer .footer .list div>div ul{
  display: flex;
  list-style: none;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
} */

footer .footer div:nth-child(2){
  display: flex;
}

footer .footer .list ul{
  display: flex;
}

footer .footer .list ul li{
 color:#ebebeb;
}

footer .footer .social-share ul{
  list-style: none;
  display: flex ;
  
}

footer .footer div>div{
  display: flex;
  list-style: none;
}


footer .footer .textcontent p a{
  text-decoration: underline;
}

footer .footer .textcontent p{
  font-size: 13px;
  line-height: 1.25;
  text-align: justify;
}

footer .footer .textcontent p a{
  text-decoration: underline;
}