footer {
  background-color: #202020;
  color: #ebebeb;
  margin-top: 3rem;
  padding: 1rem 0 1.5rem;
}

.footer img{
  width:70px;
  height:30px;
}
.footer p{
  display: flex;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* footer .footer div>div{
  display: flex;
  justify-content: space-between;
} */

/* footer .footer .list div>div ul{
  display: flex;
  list-style: none;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
} */


footer .footer .list ul{
  display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 30px;
}

footer .footer div>div:first-child{
  display: flex;
  list-style: none;
  align-items: center;
}

footer .footer .list ul li a{
 color:#ebebeb;
 text-decoration: none;
 font-size: 14px;
}

footer .footer .social-share ul{
  list-style: none;
  display: flex ;
  
}




footer .footer .textcontent p{
  display: block;
}

footer .footer .textcontent div>div{
  display: block;
}
footer .footer .textcontent p a{
  text-decoration: none;
}

footer .footer .textcontent p{
  font-size: 13px;
  line-height: 1.25;
  text-align: justify;
}

footer .footer .textcontent p a{
  text-decoration: none;
  color:#ebebeb;
  font-weight: 700;
}

footer .footer .social-share img{
  width:30px;
  height:30px;
}


footer .footer .social-share{
  display: flex;
  align-items: center;
  float: right;
  padding-left: 17rem;
  flex-grow: 1;
}